<style>
    .img-responsive{
        display: block;
        max-width: 50%;
        height: 550px;
    }
    
.card-img-top {


margin-top: 18px;
}

.container {

margin-top: 40px;
}


.call-to-ation a {
font-family:Georgia, 'Times New Roman', Times, serif;
float: right;
color: #2ec4b6;
text-decoration: none;
font-size: 35px;
padding-right: 50px;

}

@media screen and (max-width:650px) {
.w-100 {
    height: 45vh;
    width: 100% !important;
}

}

/*detail of course*/

.display-2 {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}



</style>

<div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets\MONKFOX4.png" class="d-block w-100 " alt="image downloading">
        </div>
        <div class="carousel-item">
            <img src="assets\indfirst.png" class="d-block w-100" alt="image downloading">
        </div>
        <div class="carousel-item">
            <img src="assets\placmentsec.png" class="d-block w-100" alt="image downloading">
        </div>
        <div class="carousel-item">
            <img src="assets\fd3rd.png" class="d-block w-100" alt="image downloading">
        </div>
        <div class="carousel-item">
            <img src="assets\pm4th.png" class="d-block w-100" alt="image downloading">
        </div>
        <div class="carousel-item">
            <img src="assets\pw5th.png" class="d-block w-100" alt="image downloading">
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container">
    <div class="card-group">
        <div class="row">
            <div class="card col-md-4" style="border: 0px  transparent;">
                <img class="card-img-top" src="assets\New folder (2)\Website-1.png">
            </div>
            <div class="card col-md-4" style="border: 0px  transparent;">
                <img class="card-img-top" src="assets\New folder (2)\Website-2-1.png">
            </div>
            <div class="card col-md-4" style="border: 0px  transparent;">
                <img class="card-img-top" src="assets\New folder (2)\Website-3-1.png">
            </div>
            <div class="card col-md-4" style="border: 0px  transparent;">
                <img class="card-img-top" src="assets\New folder (2)\Website-4-1.png">
            </div>
            <div class="card col-md-4" style="border: 0px  transparent;">
                <img class="card-img-top" src="assets\New folder (2)\VEHICLEDYNAMICS.png">
            </div>
            <div class="card col-md-4" style="border: 0px  transparent;">
                <img class="card-img-top" src="assets\New folder (2)\VLSI.png">
            </div>
            <div class="card col-md-4" style="border: 0px  transparent;">
                <img class="card-img-top" src="assets\New folder (2)\3DPRINTING.png">
            </div>
            <div class="card col-md-4" style="border: 0px  transparent;">
                <img class="card-img-top" src="assets\New folder (2)\IOT.png">
            </div>
            <div class="card col-md-4" style="border: 0px  transparent;">
                <img class="card-img-top" src="assets\New folder (2)\CLOUDCOMPUTING.png">
            </div>
        </div>
    </div>
    <div class="  text-center">
        <button type="button" class="btn  btn-lg btn-info" style="padding: 16px 50px ;margin-top: 20px;" routerLink="/catalog">All
            Courses <i class="fas fa-arrow-circle-right"></i> </button>
    </div>
    <h1> Our Presence
        <hr style="border:1px solid   #2ec4b6;background-color: #2ec4b6; ">
    </h1>
    <div class="card " style="border: 0px  transparent;">
        <img class="card-img-top" src="assets\New folder (2)\monkfox_presence-1024x540-1.png">

        <div class="call-to-ation">
            <a href="http://monkfox.com/courses/">And More...></a>

        </div>
    </div>
    <hr style="border:1px solid   #2ec4b6; background-color: #2ec4b6;">
   
<div class="container-fluid mt-5 pt-5 mb-5">
    <div class="row justify-content-center ">
        <div class="col-3  text-center" style="width: 20rem;">
            <div class="display-2 text-info counter-number ">70</div>
            <div class=" fs-1 text-muted">Courses</div>
           
        </div>
        <div class="col-3  text-center" style="width: 20rem;">
            <div class="display-2 text-info counter-number ">150</div>
            <div class=" fs-1 text-muted" >College Partner</div>
            
        </div>
        <div class="col-3  text-center" style="width: 20rem;">
            <div class="display-2 text-info  counter-number">250</div>
            <div class=" fs-1 text-muted">Experts</div>
               </div>
        <div class="col-3 text-center " style="width: 20rem;">
            <div class="display-2 text-info counter-number ">200000</div>
            <div class=" fs-1 text-muted">Students Trained</div>
           </div>
    </div>
</div>
    <h1> Gallary
        <hr style="border:1px solid   #2ec4b6;background-color:#2ec4b6; ">
    </h1>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets\DSC_8995-768x509(6).jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets\DSC_9017-768x509.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets\DSC_9044-768x509(1).jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets\DSC_9045-768x509(2).jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets\DSC_9320-768x509(3).jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>