
<style>
    
/*footer*/

#topMenu li {
    text-align: center;
    display: inline-block;
}

#topMenu li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
}

#social-linnks li {
    margin-left: 25px;
    border-radius: 50%;

    background-color: lightseagreen;
    display: inline-block;
    
}

#social-linnks li a {
    padding-top:12px ;
    width: 50px;
    height: 50px;
   
    display: block;
    color: #fff;
}

#privay-policy {
    display: block;
    text-decoration: none;
    text-align: center;
    color: lightseagreen;
    padding-bottom: 50px;
    padding-top: 20px;

}
</style>
<div class="footer " style="background-color:rgb(27, 27, 27); width: 100%;">
    <div class="text-center">
        <img src="assets\monkfox8.png" alt="" width="300px" height="90px">

    </div>
    <div id="topMenu">
        <ul class="text-center">
            <li><a routerLink="/home" href="">Home</a></li>
            <li><a routerLink="/about" href="">About</a></li>
            <li><a routerLink="/team" href="">Team</a></li>
            <li><a routerLink="/catalog" href="">Catalog</a></li>
            <li><a routerLink="/product" href="">Product</a></li>
            <li><a routerLink="/contact"href="">Contact us</a></li>

        </ul>
    </div>
    <hr style="border:1px solid   #fff;margin-left:140px;margin-right:140px;background-color: #fff; ">
    <nav id="social-linnks">
        <ul class="text-center">
            <li><a href="https://www.facebook.com/monkfox.edu/"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://twitter.com/?lang=en"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/sem/campaign/emailsignup/?campaign_id=13804936943&extra_1=s|c|532005756198|e|instagram|&placement=&creative=532005756198&keyword=instagram&partner_id=googlesem&extra_2=campaignid%3D13804936943%26adgroupid%3D122851065245%26matchtype%3De%26network%3Dg%26source%3Dnotmobile%26search_or_content%3Ds%26device%3Dc%26devicemodel%3D%26adposition%3D%26target%3D%26targetid%3Dkwd-299571704855%26loc_physical_ms%3D9040234%26loc_interest_ms%3D%26feeditemid%3D%26param1%3D%26param2%3D&gclid=CjwKCAjwj8eJBhA5EiwAg3z0mw3-UN29QhUHi_E6NFl0n3cT88d1FgofYGcnJf3Jl_lz7O6gevZszhoCE9UQAvD_BwE"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://www.youtube.com/watch?v=Ac4L5ixNrCM"><i class="fab fa-youtube"></i></a></li>
            <li><a href="https://www.linkedin.com/company/monkfox"><i class="fab fa-linkedin-in"></i></a></li>
        </ul>
    </nav>
    <hr style="border:1px solid   #fff ; margin-left:140px; margin-right:140px;background-color: #fff;">
    <a  routerLink="/privacy" id="privay-policy" href="">Privcy Policy</a>

</div>

