<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <div class="card-detail">
                <h1>Android Full Course</h1>
            </div>
            <p>by <span>Sahosoft Tutorials</span> on <span>March 22, 2019</span></p>
            <div class="img">
            <img  class="d-block w-100" src='./assets/33.png' alt="angular img"  > 
        </div>

    <div class="text-left mt-3">
        <p>Lorem ipsum dolor,Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus iure aut aperiam eum iste quo fuga ratione porro vero dolorem.Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, dolore. sit amet consectetur adipisicing elit. Minus facilis error, consequuntur ea officia placeat! Sint ipsa laborum iusto fuga aliquid, exercitationem commodi. Ipsa illum repellendus voluptas perferendis laborum in vero blanditiis minus eos quos optio, perspiciatis eligendi tenetur ut esse dolorum voluptatibus suscipit! Distinctio vitae voluptate doloribus alias odit?</p>
        <p> exercitationem commodi. Ipsa illum repellendus voluptas perferendis laborum in vero blanditiis minus eos quos optio, perspiciatis eligendi tenetur ut esse dolorum voluptatibus suscipit! Distinctio vitae voluptate doloribus alias odit?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus facilis error, consequuntur ea officia placeat! Sint ipsa laborum iusto fuga aliquid, exercitationem commodi. Ipsa illum repellendus voluptas perferendis laborum in vero blanditiis minus eos quos optio, perspiciatis eligendi tenetur ut esse dolorum voluptatibus suscipit! Distinctio vitae voluptate doloribus alias odit?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus facilis error, consequuntur ea officia placeat! Sint ipsa laborum iusto fuga aliquid, exercitationem commodi. Ipsa illum repellendus voluptas perferendis laborum in vero blanditiis minus eos quos optio, perspiciatis eligendi tenetur ut esse dolorum voluptatibus suscipit! Distinctio vitae voluptate doloribus alias odit?</p>
        <p>Lorem ipsum dolor,Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores quia rerum incidunt eum voluptatum vel harum consequatur blanditiis facilis unde. sit amet consectetur adipisicing elit. Minus facilis error, consequuntur ea officia placeat! Sint ipsa laborum iusto fuga aliquid, exercitationem commodi. Ipsa illum repellendus voluptas perferendis laborum in vero blanditiis minus eos quos optio, perspiciatis eligendi tenetur ut esse dolorum voluptatibus suscipit! Distinctio vitae voluptate doloribus alias odit?</p>

    </div>
    <div class="fs-1 fw-normal mt-5 ">Course Information
    </div>
    <div class="fw-normal"><strong> Estimated Time:</strong> <small class="text-muted"> Day, 2 Days, 3 Days, 4 Days, 5 Days, 6 Days and 8 Days</small>

    </div>
    <table class="table    " style="width: 80%;" >

        <tbody>
            <tr >
                
                <th colspan="2"  class="table-info"scope="col">Course Highlights</th>
                
              </tr>
            
          <tr data-bs-toggle="tooltip" data-bs-placement="bottom" title="You Must Enroll This Courses to acess this content">
            <td class="table-light">Mark</td>
            <td class="table-light">1 of 9</td>

          </tr>
          <tr data-bs-toggle="tooltip" data-bs-placement="bottom" title="You Must Enroll This Courses to acess this content">
            <td class="table-light">Jacob</td>
            <td class="table-light">1 of 9</td>

          </tr>
          <tr data-bs-toggle="tooltip" data-bs-placement="bottom" title="You Must Enroll This Courses to acess this content">
            <td class="table-light" >Larry the Bird</td>
            <td class="table-light">1 of 9</td>

            
          </tr>
          <tr data-bs-toggle="tooltip" data-bs-placement="bottom" title="You Must Enroll This Courses to acess this content">
            <td class="table-light">Mark</td>
            <td class="table-light">1 of 9</td>

          </tr>
          <tr data-bs-toggle="tooltip" data-bs-placement="bottom" title="You Must Enroll This Courses to acess this content">
            <td class="table-light">Jacob</td>
            <td class="table-light">1 of 9</td>

          </tr>
          <tr data-bs-toggle="tooltip" data-bs-placement="bottom" title="You Must Enroll This Courses to acess this content">
            <td class="table-light" >Larry the Bird</td>
            <td class="table-light">1 of 9</td>

            
          </tr>
        </tbody>
      </table>
      <div class="d-block mb-5"> <button class="btn btn-outline-dark rounded-pill ps-5 pe-5 pb-3 pt-3"  type="submit">Request Bourcher</button>
      </div>

      
    <button class="btn btn-outline-info mb-2 "  type="submit">Next</button>
    <button class="btn btn-outline-info mb-2 ms-5"  type="submit">prevoius</button>

    </div>
    <div class="col-lg-4">
        <app-ctlogsearchbar></app-ctlogsearchbar>
<div class="fs-4 fw-normal mt-5">Course Highlights
</div>
<div class="fs-6 fw-normal mt-3">Course Highlights
</div>
<img src="assets/1041985.png" class=""  width="5%" alt="">
<div class="text-muted mt-2">
    Introduction to Design

</div>
<img src="assets/1041985.png" class=""  width="5%" alt="">

<div class="text-muted mt-2"> Design Thinking Techniques
</div>
<img src="assets/1041985.png" class=""  width="5%" alt="">

<div class="text-muted mt-2">
    Introduction to Design

</div>
<img src="assets/1041985.png" class=""  width="5%" alt="">

<div class="text-muted mt-2"> Design Thinking Techniques
</div>
      
    </div>
</div>