<style>
  .d-block {
    width: 200px;
    height: 300px;
    opacity: 1;
    object-fit: cover;
  }

  .centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: xx-large;
  }
</style>
<div class="container-fluid m-0 p-0">
  <img src="assets/photo-1517048676732-d65bc937f952.jfif" class="w-100 d-block" alt="...">
  <div class="centered fw-bolder fs-2">Team</div>
</div>
<div class="container mb-5 ">

  <div class="row  ">
    <div class="col-lg-4  mt-5  ">
      <div class="card mb-lg-0   " style="border-radius: 25px; border: 1px solid lightseagreen;">
        <img src="assets/deepak.jpg" class="card-img-top  " alt="..."
          style="border-top-left-radius: 25px;border-top-right-radius:25px  ">
        <div class="card-body text-center p-2 pb-5 ">
          <h5 class="card-title fs-3 text-info">Deepak Singh</h5>
          <a href="#" class="text-decoration-none fs-1 fw-bolder">in</a>
          <p class="card-text ">IIT BHU alumni worked as Sr. Software Developer with Oracle for various international
            clients. Expert in Cloud Computing, Internet of Things, Big Data and Web Apps. </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mt-5  ">
      <div class="card mb-lg-0   " style="border-radius: 25px; border: 1px solid lightseagreen;">
        <img src="assets/suj.jpg" class="card-img-top  " width="100%" alt="..."
          style="border-top-left-radius: 25px;border-top-right-radius:25px  ">
        <div class="card-body text-center p-2 pb-5 ">
          <h5 class="card-title fs-3 text-info">Sujit mishra</h5>
          <a href="#" class="text-decoration-none fs-1 fw-bolder">in</a>
          <p class="card-text ">IIT BHU alumni worked as Sr. Software Developer with Oracle for various international
            clients. Expert in Cloud Computing, Internet of Things, Big Data and Web Apps. </p>

        </div>
      </div>
    </div>
    <div class="col-lg-4 mt-5  ">
      <div class="card mb-lg-0   " style="border-radius: 25px; border: 1px solid lightseagreen;">
        <img src="assets/sa.jpg" class="card-img-top  " width="100%" alt="..."
          style="border-top-left-radius: 25px;border-top-right-radius:25px  ">
        <div class="card-body text-center p-2 pb-5 ">
          <h5 class="card-title fs-3 text-info">SINGARAO SAIKIRAN
          </h5>
          <a href="#" class="text-decoration-none fs-1 fw-bolder">in</a>
          <p class="card-text ">IIT BHU alumni worked as Sr. Software Developer with Oracle for various international
            clients. Expert in Cloud Computing, Internet of Things, Big Data and Web Apps. </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4  mt-4 ">
      <div class="card mb-lg-0   " style="border-radius: 25px; border: 1px solid lightseagreen;">
        <img src="assets/rk.jpg" class="card-img-top  " width="100%" alt="..."
          style="border-top-left-radius: 25px;border-top-right-radius:25px  ">
        <div class="card-body text-center p-2 pb-5 ">
          <h5 class="card-title fs-3 text-info">R. K. SINGH</h5>
          <a href="#" class="text-decoration-none fs-1 fw-bolder">in</a>
          <p class="card-text ">IIT BHU alumni worked as Sr. Software Developer with Oracle for various international
            clients. Expert in Cloud Computing, Internet of Things, Big Data and Web Apps. </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4  mt-4 ">
      <div class="card mb-lg-0   " style="border-radius: 25px; border: 1px solid lightseagreen;">
        <img src="assets/rao.jpg" class="card-img-top  " width="100%" alt="..."
          style="border-top-left-radius: 25px;border-top-right-radius:25px  ">
        <div class="card-body text-center p-2 pb-5 ">
          <h5 class="card-title fs-3 text-info">SANKALP AKASH
          </h5>
          <a href="#" class="text-decoration-none fs-1 fw-bolder">in</a>
          <p class="card-text ">IIT BHU alumni worked as Sr. Software Developer with Oracle for various international
            clients. Expert in Cloud Computing, Internet of Things, Big Data and Web Apps. </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4    mt-4">
      <div class="card mb-lg-0   " style="border-radius: 25px; border: 1px solid lightseagreen;">
        <img src="assets/kir.jpg" class="card-img-top  " width="100%" alt="..."
          style="border-top-left-radius: 25px;border-top-right-radius:25px  ">
        <div class="card-body text-center p-2 pb-5 ">
          <h5 class="card-title fs-3 text-info">KIRTHI RANJAN
          </h5>
          <a href="#" class="text-decoration-none fs-1 fw-bolder">in</a>
          <p class="card-text ">IIT BHU alumni worked as Sr. Software Developer with Oracle for various international
            clients. Expert in Cloud Computing, Internet of Things, Big Data and Web Apps. </p>
        </div>
      </div>
    </div>




  </div>
</div>